[Unit]
Description=Modified FastCGI service
Requires=local-fs.target network.target remote-fs.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/spawn-fcgi
ExecStart=/usr/bin/spawn-fcgi -n $OPTIONS
PIDFile=/var/run/spawn-fcgi.pid

[Install]
WantedBy=multi-user.target