[Unit]
Description=Run watchlog script every 30 second

[Timer]
# Используем OnCalendar вместо сочетания OnUnitActiveSec и OnActiveSec
OnCalendar=*-*-* *:*:00,30
Unit=watchlog.service

[Install]
WantedBy=timers.target	